/* About Me Page */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  font-size: 1.3em;
  margin: 50px 0;
  width: 80%;
  & p {
    margin-bottom: 100px;
  }
}

.about h1 {
  text-align: center;
}
.profile-img {
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  margin-right: 20px;
}