//Color Variables

$white : #fff;
$black : #1b1b1b;
$color-shadow : rgba($black,.2);
$grey : #a5a5a5;
$light-grey: #dcdcdc;



//Font Stacks

$stack-great : 'Fredericka the Great', cursive;
$stack-oswald : 'Oswald', sans-serif;